services:
  - type: web
    name: smart-restaurant-backend
    runtime: docker
    rootDir: backend/smart-restaurant-backend
    dockerfilePath: Dockerfile
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: DB_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
